---
import path from 'path';

export interface Props {
  title: string;
  description: string;
  permalink: string;
  image?: string;
}
const {
  title,
  description,
  permalink,
  image = '/assets/common-images/peepo-logo.svg'
} = Astro.props;

const url = Astro.request.url;
const origin = url.origin;
let imageUrl = `${origin}${image}`;

if (import.meta.env.PUBLIC_ASTRO_ENV === 'production') {
  const ext = path.extname(imageUrl);
  imageUrl = imageUrl.slice(0, ext.length) + '512w' + ext;
}

const env = import.meta.env.PUBLIC_VERCEL_ENV;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<!-- Source: https://favicon.io/emoji-favicons/stopwatch. -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imageUrl} />

<link
  rel="stylesheet"
  type="text/css"
  href={Astro.resolve('../../styles/globals.css')}
/>

<!-- Fonts -->
{[
  'Barlow-Regular.woff2',
  'Barlow-Italic.woff2',
  'Barlow-Medium.woff2',
  'Barlow-Bold.woff2',
  'IBMPlexMono-Regular.woff2'
].map((font) => (
  <link
    rel="preload"
    href={`/fonts/${font}`}
    as="font"
    type="font/woff2"
    crossorigin
  />
))}

<!-- Prevent FOUC. Source: https://github.com/withastro/astro/blob/6e3b11ec22530abe89821422751c0a870d657c24/docs/src/components/HeadCommon.astro#L22-L31. -->
<script>
  const root = document.documentElement;
  const theme = localStorage.getItem('theme');
  if (
    theme === 'dark' ||
    (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    root.classList.add('dark');
  } else {
    root.classList.remove('dark');
  }
</script>

<!-- Global site tag (gtag.js) - Google Analytics on prod only -->
{env === 'production' ? (
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-TPYW0LG5LL"
  />
) : null}
{env === 'production' ? <script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-TPYW0LG5LL');
</script>: null}
