---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Text } from '../components/Typography';
import { Card } from '../components/Card';

let allPosts = await Astro.fetchContent('../posts/*.md');
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf()
);
---

<BaseLayout
  title="Blog"
  description="List of blog posts written by Try Ajitiono."
  currentMenu="/blog"
>
  <ul class="grid grid-cols-1 gap-8">
    {allPosts.map((post, idx) => (
      <li key={idx}>
        <Card
          title={post.title}
          date={post.publishDate}
          text={post.description}
          img={post.heroImage}
          href={post.url}
          className="h-full"
        />
      </li>
    ))}
  </ul>
</BaseLayout>
