---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Text } from '../components/Typography';
import { Card } from '../components/Card';

let allPosts = await Astro.fetchContent('./blog/*.md');
allPosts = allPosts
  .filter((p) => p.visibility === 'public')
  .sort(
    (a, b) =>
      new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf()
  );
---

<BaseLayout
  title="Blog"
  description="List of blog posts written by me."
  currentMenu="/blog"
>
  <Text as="h1" className="mb-4">Blog</Text>

  <ul class="grid grid-cols-1 gap-8">
    {allPosts.map((post, idx) => (
      <li key={idx}>
        <Card
          titleHeadingElement="h2"
          title={post.title}
          date={post.publishDate}
          text={post.description}
          img={post.image}
          imgAlt={post.imageAlt}
          href={post.url}
          className="h-full"
        />
      </li>
    ))}
  </ul>
</BaseLayout>
