---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Text } from '../components/Typography';
import { Card } from '../components/Card';

let allPosts = await Astro.fetchContent('./blog/*.md');
allPosts = allPosts
  .filter((p) => p.visibility === 'public')
  .sort(
    (a, b) =>
      new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf()
  )
  .slice(0, 3);

let allProjects = await Astro.fetchContent('./projects/*.md');
allProjects = allProjects.sort(
  (a, b) =>
    new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf()
);

const allRepoActivitiesStr = await Astro.resolve('../static/activity.json');
const allRepoActivities = (await import(allRepoActivitiesStr)).default;
---

<BaseLayout
  title="Home"
  description="The home page of my personal site."
  currentMenu="/"
>
  <Text as="h1" className="text-center mt-0 mb-0">Welcome to peepohappy!</Text>

  <Text as="p" className="text-xl text-center">
    My name is Try Ajitiono. I write about software development, real life, and
    gaming stuff.
  </Text>

  <div class="mt-8 mb-4">
    <Text as="h2">Latest posts</Text>

    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {allPosts.map((post, idx) => (
        <li key={idx}>
          <Card
            title={post.title}
            date={post.publishDate}
            text={post.description}
            img={post.image}
            imgAlt={post.imageAlt}
            href={post.url}
            className="h-full"
          />
        </li>
      ))}
    </ul>
  </div>

  <div class="mt-8 mb-4">
    <Text as="h2">Latest projects</Text>

    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {allProjects.map((project, idx) => (
        <li key={idx}>
          <Card
            title={project.title}
            date={project.publishDate}
            text={project.description}
            href={project.url}
            className="h-full"
          />
        </li>
      ))}
    </ul>
  </div>

  <div class="mt-8 mb-4">
    <Text as="h2">Latest GitHub activities</Text>

    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {allRepoActivities.map((repo, idx) => (
        <li key={idx}>
          <Card
            title={repo.name}
            date={repo.lastUpdate}
            text={repo.description}
            href={repo.url}
            className="h-full"
          />
        </li>
      ))}
    </ul>
  </div>
</BaseLayout>
