---
import BaseHead from './base/Head.astro';
import { Text } from '../components/Typography';
import { DarkModeToggler } from '../components/Layout';
// TODO(imballinst): not sure the prettier complains when I used `Link` instead of `ComponentLink`.
import { Link as ComponentLink } from '../components/Links';

const { title, description, currentMenu, image } = Astro.props;
const permalink = Astro.url.href;

const effectiveDescription =
  description || 'The personal site of Try Ajitiono.';

const pageTitlePrefix = title ? `${title} | ` : '';
const pageTitle = pageTitlePrefix + 'imballinst.dev';

// TODO(imballinst): add toggle format.
const BASE_NAV_CLASSES = 'pb-1 border-teal-600 dark:border-teal-300';
const NAVS = [
  {
    path: '/',
    title: 'home'
  },
  {
    path: '/blog',
    title: 'blog'
  },
  {
    path: '/projects',
    title: 'projects'
  },
  {
    path: '/about',
    title: 'about'
  }
];
const NAVS_WITH_CLASSES = NAVS.map((nav) => ({
  ...nav,
  className: `${BASE_NAV_CLASSES} ${
    currentMenu === nav.path ? 'border-b-2' : 'hover:border-b-2'
  }`
}));

const SOCIAL_LINKS = [
  {
    href: 'https://github.com/imballinst',
    title: 'GitHub'
  },
  {
    href: 'https://twitter.com/imballinst',
    title: 'Twitter'
  },
  {
    href: 'https://www.linkedin.com/in/try-ajitiono',
    title: 'LinkedIn'
  }
];
const CURRENT_YEAR = new Date().getFullYear();
---

<html lang="en">
  <head>
    <BaseHead
      title={pageTitle}
      description={effectiveDescription}
      permalink={permalink}
      {image}
    />
  </head>

  <body
    class="flex flex-col min-h-screen bg-gray-50 dark:bg-gray-800 transition-colors"
  >
    <nav
      class="shadow-sm flex flex-row justify-center fixed top-0 w-full z-10 bg-gray-50 dark:bg-gray-800"
    >
      <div
        class="-ml-2 flex flex-row justify-between items-center px-3 py-2 w-full md:w-wmd lg:w-wlg"
      >
        <div class="flex flex-row font-semibold">
          {
            NAVS_WITH_CLASSES.map((nav) => (
              <ComponentLink href={nav.path} className="p-2" disableUnderline>
                <div class={nav.className}>{nav.title}</div>
              </ComponentLink>
            ))
          }
        </div>

        <div>
          <DarkModeToggler client:visible />
        </div>
      </div>
    </nav>

    <main class="flex flex-1 py-4 flex-row justify-center">
      <div class="w-full md:w-wmd lg:w-wlg flex flex-col">
        <div class="flex-1 pb-2 px-4">
          <slot />
        </div>
      </div>
    </main>

    <footer class="flex flex-initial flex-col p-2 mt-4 justify-center items-center w-full">
      <Text as="div" colorScheme="gray" className="sm:w-full md:w-wmd lg:w-wlg">
        <small class="block w-full font-bold text-center text-xs">
          &copy; 2020-{CURRENT_YEAR} Try Ajitiono
        </small>

        <div class="text-center text-xs mt-1">
          {
            SOCIAL_LINKS.map((social) => (
              <ComponentLink href={social.href} className="px-0.5">
                {social.title}
              </ComponentLink>
            ))
          }
        </div>
      </Text>
    </footer>
  </body>
</html>
