---
import BaseHead from './base/Head.astro';
import { Text } from '../components/Typography';
import { DarkModeToggler } from '../components/Layout';
import { Link } from '../components/Links';

const {
  title,
  description,
  content = {},
  currentMenu
} = Astro.props;
const {
  title: contentTitle,
  description: contentDescription,
  permalink,
  heroImage
} = content;

const effectiveTitle = title || contentTitle;
const effectiveDescription =
  description || contentDescription || 'The personal site of Try Ajitiono.';

const pageTitlePrefix = effectiveTitle ? `${effectiveTitle} | ` : '';
const pageTitle = pageTitlePrefix + 'peepohappy';

// TODO(imballinst): add toggle format.
const BASE_NAV_CLASSES = 'pb-1 border-teal-600 dark:border-teal-300';
const NAVS = [{
  path: '/',
  title: 'peepohappy'
}, {
  path: '/blog',
  title: 'blog'
}, {
  path: '/about',
  title: 'about'
}];
const NAVS_WITH_CLASSES = NAVS.map(nav => ({
  ...nav,
  className: `${BASE_NAV_CLASSES} ${currentMenu === nav.path ? 'border-b-2' : 'hover:border-b-2'}`
}))
---

<html lang={content.lang || 'en'}>
  <head>
    <BaseHead
      title={pageTitle}
      description={effectiveDescription}
      {permalink}
      {heroImage}
    />

    <script>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>

  <body class="flex flex-col min-h-screen dark:bg-gray-800 transition-colors">
    <nav
      class="shadow-sm flex flex-row justify-center fixed top-0 w-full z-10 bg-white dark:bg-gray-800"
    >
      <div
        class="-ml-2 flex flex-row justify-between items-center px-3 py-2 w-full md:w-wmd lg:w-wlg xl:w-wxl"
      >
        <div class="flex flex-row font-semibold">
          {
            NAVS_WITH_CLASSES.map(nav => (
              <Link href={nav.path} className="p-2" disableUnderline>
                <div class={nav.className}>
                  {nav.title}
                </div>
              </Link>    
            ))
          }
        </div>

        <div>
          <DarkModeToggler client:visible />
        </div>
      </div>
    </nav>

    <main class="flex flex-1 p-4 flex-row justify-center">
      <div class="w-full md:w-wmd lg:w-wlg xl:w-wxl flex flex-col">
        <div class="flex-1 py-2 px-4">
          <slot />
        </div>
      </div>
    </main>

    <footer class="flex flex-initial flex-row p-2 mt-4 justify-center w-full">
      <Text
        as="div"
        colorScheme="gray"
        class="sm:w-full md:w-wmd lg:w-wlg xl:w-wxl"
      >
        <p class="font-bold text-center text-sm">&copy; 2021 Try Ajitiono</p>
      </Text>
    </footer>
  </body>
</html>
